
:root {
    --black: #121211;
    --white: #ffffff;
    --blue: #0079FF;
    --brandfont: Bricolage Grotesque, sans-serif;
    --green: #98fa00;
}

.meta-wrapper p {
            font-size: 36px!important;
line-height: 60px!important;
            text-decoration: none!important;
}

@media (max-width: 1050px) {
.meta-wrapper p {
            font-size: 28px!important;
line-height: 48px!important;
            text-decoration: none!important;
}
}

/* Hide the scrollbar for all elements */
body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and newer versions of Edge */
}

/* Optional: If you want to hide the scrollbar on Firefox */
body {
  scrollbar-width: none;
}

/* Add the following style to enable scrolling behavior */
body {
  overflow: auto;
}


html {
  scroll-behavior: smooth;
}

* {
font-family: var(--brandfont)!important;
font-weight: 400!important;
text-underline-offset: 8px;
}

a {
text-underline-offset: 8px!important;
    text-decoration-color: var(--green);
}


p a {
text-decoration: none!important;
}


.gallery-item-wrapper:hover {
transition: 0.6s;
text-decoration: underline;
}

.gallery-item-wrapper:hover img {
opacity: 0.5;
transition: 0.6s;
}

.gallery-item-wrapper img {
transition: 0.6s;
}

.section-contents-wrapper {
padding-left: 15px!important;
padding-right: 15px!important;
margin: 0!important;
}

.text-row-contents {
padding-left: 0px!important;
padding-right: 0px!important;
}

.column-item-wrapper {
width: 100%;
}

.meta-wrapper {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
  overflow-x: hidden;
}

.meta-column-25 {
min-width: 15vw;
    margin-left: 70px;
  overflow-x: hidden;
}

.meta-column-50 {
        min-width: 37vw;
 max-width: 37vw;
  overflow-x: hidden;
}

.meta-column-75 {
        min-width: 50vw;
 max-width: 50vw;
  overflow-x: hidden;
}

.meta-column h4,
.meta-column h2 {
    text-align: left;
}

::selection {
     background-color: var(--green);
     color: var(--black);
}

::-moz-selection {
     background-color: var(--green);
     color: var(--black);
}

@media (max-width: 1050px) {
    .meta-wrapper {
        display: flex;
        flex-direction: column;
    }

    .meta-column-50 {
        min-width: 100vw;
        max-width: 100vw;
    }

    .meta-column-25 {
        min-width: 50vw;
        margin-left: 0;
    }

.meta-column-75 {
    min-width: 90vw;
    max-width: 90vw;
}
    }

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    text-decoration-color: var(--green);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--black);
}

.tjenestelenker a {
    padding-left: 0px;
    transition: padding-left 0.5s ease;
    position: relative;
}

.tjenestelenker a:hover {
    padding-left: 30px;
    transition: padding-left 0.5s ease;
    text-decoration: none !important;
}

.tjenestelenker a:before {
    content: "\27F6";
    display: inline-block;
    opacity: 0;
    transform: translateX(-10px); /* Slide in from the left */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smoothly transition opacity and transform */
    margin-right: 5px;
}

.tjenestelenker a:hover:before {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Reset transform for hover state */
}


.image-caption {
    font-size: max(1.4vw, 20px);
    line-height: 1.4285714286;
}


/* Scrollbar styles */
body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and newer versions of Edge */
}

/* Global styles */
body {
    font-family: var(--brandfont), sans-serif;
  background-color: white;
  color: var(--black)
}

h1, h2, p {
    font-weight: 400;
    font-size: max(4vw, 40px);
    line-height: 1.046875;
}

h1 {
margin-bottom: 0;
}

h1.subtitle {
    font-size: max(1.4vw, 20px);
    line-height: 1.4285714286;
}

@media only screen and (max-width: 1024px) {
h1.subtitle {
font-size: max(5.3333333333vw, 20px);
}

.image-caption {
    font-size: 42px;
}

.header a {
    font-size: 42px!important;
    line-height: 60px!important;
}

h1 {
font-size: max(10.1333333333vw, 38px)
}
    }

nav {
    display: flex;
    gap: 50px;
}

.header a {
    font-size: max(1.4vw, 20px);
    line-height: 1.4285714286;
}


.header-nav-list, .header h1 {
    font-size: 42px!important;
    line-height: 60px!important;
}


.profile-img {
    border-radius: 600px;
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.flex-layout {
    justify-content: space-between;
}

/* Meta column styles */
.meta-wrapper-front, .meta-wrapper {
    display: flex;
    flex-direction: row;
}

.meta-wrapper-front {
width: 100%;
}

.meta-column-front-50 {
    min-width: 25%;
    max-width: 25%;
}

.meta-column-front-60 {
    min-width: 50%;
    max-width: 50%;
}

.meta-column-front-75 {
    min-width: 75%;
}

/* Fade-up animation */
.fade-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s, transform 1s ease-in-out;
}

.fade-up.fade-up-visible {
    opacity: 1;
    transform: translateY(0);
}



/* Section padding */
section {
    min-height: 50vh;
}

@media only screen and (max-width: 1024px) {
section {
    min-height: unset;
}
    }

.no-top-padding {
    padding-top: 0;
}

/* Image section styles */
.image-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    gap: 20px;
}

.image-section img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.image-section img.fade-up-visible {
    opacity: 1;
    transform: translateY(0);
}

.image-section img:hover {
    transition: opacity 0.6s, transform 0.6s;
}

.case-wrapper {
    width: calc(50% - 20px);
            transition: 0.5s;
}

.case-wrapper img {
    border-radius: 0px;
    filter: brightness(90%);
    width: 100%;
            transition: 0.5s;
}

.case-wrapper:hover .image-caption {
    text-decoration-color: var(--green);
}

.case-wrapper:hover img {
        filter: brightness(50%);
        transition: 0.5s;
}


/* CSS for the fade-up animation */
.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}


    .seksjon-wrapper.column-case {
    flex-direction: column;
    }

        .innhold-50 {
            width: 50%;
        }
                .innhold-100 {
            width: 100%;
            display: inline-flex;
            gap: 20px;
            flex-wrap: wrap;
        }

                .innhold-25 {
            width: 25%;
        }
                        .innhold-75 {
            width: 75%;
        }
.profilbilde {
    display: flex;
    align-items: center;
}

main a.case-wrapper a:before {
    content: none;
}

@media only screen and (max-width: 1024px) {
.seksjon-wrapper {
    display: flex;
    flex-direction: column!important;
    padding-top: 10vh!important;
    padding-bottom: 10vh!important;
    padding-left: 40px!important;
    padding-right: 40px!important;
    height: unset!important;
    gap: 50px!important;
}
.innhold-75 {
    width: 100%;
}
.innhold-50 {
    width: 100%;
}
.innhold-25 {
    width: 100%;
}
.tjenestelenker a:before {
    content: none;
}
.tjenestelenker a {
    padding-left: 0;
}
.tjenestelenker a:hover {
    padding-left: 0;
}
.header {
    padding-bottom: 5vh;
}
  #name {
    display: none;
  }
h1#initials {
margin: 0;
}
}
.filter-tags button {
    text-transform: none;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 296px;
    background-color: rgb(65 65 65 / 10%);
    color: var(--black);
    border: none;
    margin-bottom: 10px;
transition: 0.3s;
outline: 2px solid transparent;
    font-size: max(0.8vw, 20px);
    line-height: 1.4285714286;
}

.filter-tags {
    display: inline-flex;
    gap: 5px;
        flex-wrap: wrap;
            padding-top: 10px;
                        padding-bottom: 10px;
}

.filter-tags button:hover {
    background-color: rgb(65 65 65 / 30%);
transition: 0.5s;
cursor: pointer;
}

button.active.active-tag {
  outline: 2px solid var(--yellow);
    background-color: rgb(65 65 65 / 50%);
  transition: outline 0s; /* Set the transition for outline to 0s */
}


@media only screen and (max-width: 1024px) {
    .filter-tags button {
    font-size: 42px!important;
    line-height: 60px!important;
        margin-bottom: 5px;
margin-top: 5px;
}
    }

.filter-tags button.selected {
  outline: 2px solid var(--black);
      background-color: rgb(65 65 65 / 30%);
transition: outline 0s; /* Set the transition for outline to 0s */
}

.black-section {
  background-color: var(--black);
  color: white;
}

.green-section {
  background-color: var(--green)!important;
  color: var(--black)!important;
}

.seksjon-wrapper {
display: flex;
flex-direction: row;
padding-top: 15vh;
padding-bottom: 15vh;
padding-left: 40px;
padding-right: 40px;
height: 100vh;
    }

    .header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 40px;
    background: transparent;
}

.header-nav-list {
    display: flex;
    gap: 100px;
}

.header nav a:hover, a:hover {
    text-decoration: underline;
    text-decoration-color: var(--green);
}

.watermark {
    display: flex;
    align-items: center;
    color: rgb(65 65 65 / 100%)!important;
    justify-content: center;
    transition: 0.5s;
    text-decoration: none!important;
}

.watermark a:hover {
    display: flex;
    align-items: center;
    color: white!important;
    transition: 0.5s;
    justify-content: center;
    text-decoration: none!important;
}
.ticker-wrap {
  bottom: 0;
    left: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: var(--green);
  box-sizing: content-box;
  outline: 1px solid black;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  font-size: 2rem;
  color: var(--black);
}
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.footer {
    padding: 40px;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
}

.footer h1.subtitle {
    font-size: 16px;
    text-underline-offset: 4px!important;
}

.footer a {
    text-underline-offset: 4px!important;
}

@media only screen and (max-width: 1024px) {
.footer h1.subtitle {
font-size: 32px;
}
}

.innhold-25-right {
    text-align: right!important;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
}

.digdir-section {
  background-color: white;
  color: black;
}

h1.subtitle-meta {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300!important;
    padding-bottom: 30px;
}

h1.subtitle-meta-client {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300!important;
    padding-bottom: 50px;
}

.centered-heading {
    align-items: center;
}

.typewriter-wrapper {
    display: flex;
    align-items: center;
}

.center-text-case {
    width: 100%;
    display: inline-flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.unset-height {
height: unset;
}

  .color-wrapper {
    width: 100%;
  }
  .color-box {
    width: 33%;
    height: 350px;
    float: left;
    margin: 0;
    position: relative;
  }
  .color-box.small {
    width: 20%;
    height: 350px;
  }
  .color-box.large2 {
    width: 59%;
    height: 350px;
  }
  .color-row {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  .color-name {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  @media screen and (max-width: 1024px) {
    .color-box {
      height: 150px;
    }
    .color-box.small {
      height: 150px;
    }
    .color-box.large2 {
      height: 150px;
    }
  .color-name {
    font-size: 12px;
    font-weight: bold;
bottom: 5px;
left: 5px;
  }
  }

.digdir-font * {
    font-family: Inter, sans-serif!important;
    font-weight: 400!important;
}